.content {
    color: brown;
    width: 700px;
    height: 600px;
    margin: auto;
    background-color: white;
    padding: 15px;
}

body{
    background-color: silver;
}

h1{
    background-color: silver;
    text-align: center;
}

.content img{
    display: block;
    margin: auto;
    border: 2px solid #ccc;
}